[Unit]
Description=RPC bind service
Requires=rpcbind.socket

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/rpcbind
ExecStart=/sbin/rpcbind

[Install]
Also=rpcbind.socket
